.body{
 background-color: rgb(255, 241, 230);
}

/* heading */
.heading{
    margin: 50px;
    h6{
        color: rgb(0, 65, 45);
    }
    h2{
        color: rgb(0, 65, 45);
    }
    p{
        color: rgb(68, 68, 68);
    }
}

/* doctors */
.row{
    img{
        width: 280px;
        box-shadow: 4px 4px 4px rgb(255, 208, 0);
    }
    h5{
        text-align: center;
        text-decoration: none;
        color: rgb(0, 65, 45);
    }
    h6{
        text-align: center;
        text-decoration: none;
        color: rgb(0, 94, 66);
    }
}

.hover-effect {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.hover-effect img {
    transition: transform 0.3s ease-in-out;
}

.hover-effect:hover img {
    transform: scale(1.1);
}

.hover-effect:hover .overlay {
    opacity: 1;
}

